.content404__description {
  margin: 0 0 48px;
  padding: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: #fff;
  text-align: center;

  @media (max-width: 1700px) {
    margin-bottom: 35px;
    font-size: 23px;
    line-height: 28px;
  }

  @media (max-width: 960px) {
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: 520px) {
    margin-bottom: 23px;
    font-size: 13px;
    line-height: 16px;
  }
}