.info__text_width_one {
    max-width: 487px;
    margin-bottom: 34px;
}

@media screen and (max-width: 1700px) {
    .info__text_width_one {
        max-width: 341px;
        margin-bottom: 26px;
    }
}

@media screen and (max-width: 1200px) {
    .info__text_width_one {
        max-width: 310px;
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 996px) {
    .info__text_width_one {
        max-width: 390px;
        margin-bottom: 28px;
    }
}

@media screen and (max-width: 520px) {
    .info__text_width_one {        
        margin-bottom: 20px;
    }
}