.info__text_width_two {
  max-width: 453px;

  @media (max-width: 1780px) {
    max-width: 317px;
  }

  @media (max-width: 1200px) {
    max-width: 253px;
  }

  @media (max-width: 1060px) {
    max-width: 451px;
  }
}
