.info__text_width_one {
  max-width: 487px;
  margin-bottom: 34px;

  @media (max-width: 1780px) {
    max-width: 341px;
    margin-bottom: 26px;
  }

  @media (max-width: 1200px) {
    max-width: 310px;
    margin-bottom: 22px;
  }

  @media (max-width: 1060px) {
    max-width: 390px;
    margin-bottom: 28px;
  }

  @media (max-width: 520px) {
    margin-bottom: 20px;
  }
}