.info__text_width_three {
  max-width: 460px;
  margin-bottom: 34px;

  @media (max-width: 1780px) {
    max-width: 290px;
    margin-bottom: 26px;
  }

  @media (max-width: 1200px) {
    max-width: 228px;
    margin-bottom: 22px;
  }

  @media (max-width: 1060px) {
    max-width: 447px;
    margin-bottom: 28px;
  }

  @media (max-width: 520px) {
    margin-bottom: 20px;
  }
}