.info__text_width_two {
  max-width: 453px;
}

@media screen and (max-width: 1780px) {
  .info__text_width_two {
    max-width: 317px;
  }
}

@media screen and (max-width: 1200px) {
  .info__text_width_two {
    max-width: 253px;
  }
}

@media screen and (max-width: 1060px) {
  .info__text_width_two {
    max-width: 451px;
  }
}
