.footer__cookie {
  margin: 0;
  padding: 0;
  max-width: 478px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

  @media (max-width: 1700px) {
    max-width: 410px;
    font-size: 12px;
    line-height: 15px;
  }

  @media (max-width: 1200px) {
    max-width: 242px;
  }

  @media (max-width: 960px) {
    order: 1;
    margin-bottom: 19px;
    max-width: 638px;
    font-size: 13px;
    line-height: 16px;
  }

  @media (max-width: 520px) {
    margin-bottom: 17px;
    max-width: 242px;
    font-size: 12px;
    line-height: 15px;
  }
}
