.contacts__social {
  margin: 18px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;

  @media screen and (max-width: 1200px) {
    margin: 15px 0 0 0;
  }

  @media screen and (max-width: 960px) {
    justify-content: start;
    gap: 21px;
    margin: 23px 0 0 0;
  }

  @media screen and (max-width: 520px) {
    gap: 20px;
    margin: 20px 0 0 0;
  }
}

