.page {
  background: #3d3d3d url("../../images/img_bg/rain_in_the_forest.webp") center / cover no-repeat;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
