.page__content404 {
    padding: 0 145px 50px;
    background-color: rgba(0, 0, 0, 0.4);

    @media (max-width: 1700px) {
        padding-inline: 77px;
    }

    @media (max-width: 1200px) {
        padding-inline: 64px;
    }

    @media (max-width: 960px) {
        padding-inline: 48px;
    }

    @media (max-width: 520px) {
        padding-inline: 28px;
    }
}
