.player__volumeOnOff {
  width: 37px;
  height: 32.07px;
  margin-right: 17px;
  border: none;
  background: url('../../../images/icon-vol-sound.svg') no-repeat center;
  background-size: cover;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:focus {
    transform: scale(1.05);
  }

  @media (max-width: 1700px) {
    width: 28px;
    height: 24px;
    margin-right: 11px;
  }

  @media (max-width: 1200px) {
    width: 22px;
    height: 19px;
    margin-right: 17px;
  }

  @media (max-width: 960px) {
    margin-right: 11px;
  }

  @media (max-width: 520px) {
    width: 20px;
    height: 18px;
    margin-right: 10px;
  }
}
