.donations__icon-copy {
  max-width: 28px;
  margin-right: 19px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.3);
  }

  @media (max-width: 1700px) {
    max-width: 19px;
    margin-right: 13px;
  }

  @media (max-width: 1200px) {
    max-width: 16px;
    margin-right: 8px;
  }

  @media (max-width: 960px) {
    margin-right: 13px;
  }

  @media (max-width: 520px) {
    margin-right: 12px;
  }
}