.header__logo {
    max-width: 300px;

    @media (max-width: 1280px) {
        max-width: 238px;
    }

    @media (max-width: 1024px) {
        max-width: 190px;
    }

    @media (max-width: 768px) {
        max-width: 182px;
    }

    @media (max-width: 320px) {
        max-width: 158px;
    }
}