.donations__card {
  margin: 0 27px 0 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  color: #fff;
  -webkit-text-fill-color: #fff !important;

  @media (max-width: 1700px) {
    margin-right: 18px;
    font-size: 14px;
    line-height: 18px;
  }

  @media (max-width: 1200px) {
    margin-right: 12px;
    font-size: 12px;
    line-height: 17px;
  }

  @media (max-width: 960px) {
    margin-right: 13px;
    font-size: 15px;
    line-height: 20px;
  }

  @media (max-width: 520px) {
    margin-right: 12px;
    font-size: 12px;
    line-height: 17px;
  }
}
