.header {
  background-image: url(../../images/first-sector-img-1920.jpg);  
  background-repeat: no-repeat;
  background-size: cover;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 41px 101px 0 101px;
}
