.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px 0 108px;

  @media (max-width: 1280px) {
    padding-block: 37px 67px;
  }

  @media (max-width: 1024px) {
    padding-block: 29px 45px;
  }

  @media (max-width: 768px) {
    padding-block: 28px 30px;
  }

  @media (max-width: 320px) {
    padding-block: 19px 35px;
  }
}
