.legal {
  display: flex;
  flex-direction: column;
  max-width: 394px;
  gap: 15px;

  /* Адаптивные стили */
  @media (max-width: 1700px) {
    max-width: 277px;
    gap: 10px;
  }

  @media (max-width: 1200px) {
    max-width: 246px;
    gap: 7px;
  }

  @media (max-width: 960px) {
    max-width: 277px;
    margin-bottom: 26px;
    gap: 9px;
  }

  @media (max-width: 520px) {
    max-width: 264px;
    margin-bottom: 23px;
    gap: 10px;
  }
}
