.content404__title {
  margin: 0;
  padding: 0;
  font-size: 227px;
  font-weight: 600;
  line-height: 277px;
  color: #fff;

  @media (max-width: 1700px) {
    font-size: 170px;
    line-height: 207px;
  }

  @media (max-width: 960px) {
    font-size: 130px;
    line-height: 158px;
  }

  @media (max-width: 520px) {
    font-size: 70px;
    line-height: 85px;
  }
}
