.player__line {
  width: 3px;
  height: 51px;
  margin: 11px 10px 11px 0;
  background-color: #000;

  @media (max-width: 1700px) {
    height: 37px;
    margin: 7px 0 8px;
  }

  @media (max-width: 1200px) {
    width: 2px;
    height: 29px;
    margin: 8px 0 7px;
  }

  @media (max-width: 960px) {
    height: 30px;
    margin: 7px 0;
  }

  @media (max-width: 520px) {
    height: 26px;
  }
}