.player__icon-eq {
  max-width: 28px;
  margin: 0 47px 0 49px;

  @media (max-width: 1700px) {
    max-width: 24px;
    margin: 0 32px 0 33px;
  }

  @media (max-width: 1200px) {
    max-width: 18px;
    margin: 0 28px 0 29px;
  }

  @media (max-width: 520px) {
    max-width: 16px;
    margin: 0 20px 0 21px;
  }
}