.footer__link {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-decoration: underline;
  text-underline-offset: 1px;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 1700px) {
    font-size: 13px;
    line-height: 1.23;
  }

  @media (max-width: 1200px) {
    font-size: 12px;
    line-height: 1.25;
  }

  @media (max-width: 960px) {
    font-size: 15px;
    line-height: 1.2;
  }

  @media (max-width: 520px) {
    font-size: 14px;
    line-height: 1.21;
  }
}
