.footer__copyright {
  margin: 0;
  padding: 0;
  max-width: 245px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 1700px) {
    max-width: 144px;
    font-size: 12px;
    line-height: 15px;
  }

  @media (max-width: 960px) {
    order: 2;
    max-width: 384px;
    font-size: 13px;
    line-height: 16px;
  }

  @media (max-width: 520px) {
    max-width: 207px;
    font-size: 12px;
    line-height: 15px;
  }
}
