.player__timerText {
  margin: 0 30px 0 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;

  @media (max-width: 1700px) {
    margin-right: 19px;
    font-size: 15px;
    line-height: 18px;
  }

  @media (max-width: 1200px) {
    margin-right: 15px;
    font-size: 13px;
    line-height: 16px;
  }

  @media (max-width: 960px) {
    margin-right: 16px;
  }

  @media (max-width: 520px) {
    margin-right: 10px;
    font-size: 14px;
    line-height: 17px;
  }
}
