.info__title {
  margin: 0 0 31px;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  color: #fff;

  @media (max-width: 1780px) {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: 1200px) {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: 1060px) {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: 520px) {
    margin-bottom: 23px;
    font-size: 17px;
    line-height: 21px;
  }
}
