.info__title {
  margin-top: 0;
  margin-bottom: 31px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.23;
  color: #fff;

  @media (max-width: 1780px) {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 1.2;
  }

  @media (max-width: 1200px) {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 1.25;
  }

  @media (max-width: 1060px) {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 1.22;
  }

  @media (max-width: 520px) {
    margin-bottom: 23px;
    font-size: 17px;
    line-height: 1.24;
  }
}
