.donations__description {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: 600;
  line-height: 23px;
  color: #fff;

  @media (max-width: 1700px) {
    font-size: 13px;
    line-height: 16px;
  }

  @media (max-width: 1200px) {
    font-size: 12px;
    line-height: 15px;
  }

  @media (max-width: 960px) {
    font-size: 13px;
    line-height: 16px;
  }
}