.player__volume {
  -webkit-appearance: none; /* Скрываем дефолтный вид */
  appearance: none;
  cursor: pointer;
  width: 162px;
  height: 3px;
  transition: transform 0.3s ease;
}

.player__volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;  
  box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #fff;  
}

.player__volume:focus {
  outline: none;
  transform: scale(1.05);
}

@media screen and (max-width: 1700px) {
  .player__volume {
    width: 119px;
    height: 3px;
  }
  .player__volume::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .player__volume {
    width: 92px;
    height: 3px;
  }
  .player__volume::-webkit-slider-thumb {
    width: 9px;
    height: 9px;
  }
}

@media screen and (max-width: 960px) {
  .player__volume {
    width: 98px;
    height: 3px;
  }
  .player__volume::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 520px) {
  .player__volume {
    width: 87px;
    height: 2px;
  }
  .player__volume::-webkit-slider-thumb {
    width: 9px;
    height: 9px;
  }
}
