.player__volume {
  width: 162px;
  height: 3px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  transition: transform 0.3s ease;

  &::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    appearance: none;
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
    transform: scale(1.05);
  }

  @media (max-width: 1700px) {
    width: 119px;

    &::-webkit-slider-thumb {
      width: 12px;
      height: 12px;
    }
  }

  @media (max-width: 1200px) {
    width: 92px;

    &::-webkit-slider-thumb {
      width: 9px;
      height: 9px;
    }
  }

  @media (max-width: 960px) {
    width: 98px;

    &::-webkit-slider-thumb {
      width: 10px;
      height: 10px;
    }
  }

  @media (max-width: 520px) {
    width: 87px;
    height: 2px;

    &::-webkit-slider-thumb {
      width: 9px;
      height: 9px;
    }
  }
}
