.player__buttonPlayPause {
  display: block;
  position: relative;
  width: 161px;
  height: 161px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-44%, -50%);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-10 0 100 100"><path d="M15 20 L65 50 L15 80 Z" fill="white" stroke="white" stroke-linejoin="round" stroke-width="15"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.playing {
    &::before {
      width: 10px;
      height: 45px;
      border: none;
      border-radius: 3px;
      background: white;
      transform: translate(-133%, -50%);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 45px;
      border-radius: 3px;
      background: white;
      transform: translate(40%, -50%);
    }
  }

  @media (max-width: 1700px) {
    width: 122px;
    height: 122px;
  }

  @media (max-width: 1200px) {
    width: 102px;
    height: 102px;

    &::before {
      width: 40px;
      height: 40px;
    }

    &.playing {
      &::before,
      &::after {
        height: 30px;
      }
    }
  }

  @media (max-width: 960px) {
    width: 101px;
    height: 101px;
  }

  @media (max-width: 520px) {
    width: 79px;
    height: 79px;

    &::before {
      width: 30px;
      height: 30px;
    }

    &.playing {
      &::before,
      &::after {
        width: 8px;
        height: 25px;
      }
    }
  }
}
