.contacts__social-img {
    max-width: 50px;
}

@media screen and (max-width: 1700px) {
    .contacts__social-img {
        max-width: 41px;
    }
}

@media screen and (max-width: 1200px) {
    .contacts__social-img {
        max-width: 38px;
    }
}

@media screen and (max-width: 960px) {
    .contacts__social-img {
        max-width: 43px;
    }
}