.contacts__social-img {
    max-width: 50px;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.7;
    }

    @media screen and (max-width: 1700px) {
        max-width: 41px;
    }

    @media screen and (max-width: 1200px) {
        max-width: 38px;
    }

    @media screen and (max-width: 960px) {
        max-width: 43px;
    }
}