.content404__link {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  opacity: 1;
  background: linear-gradient(#fff, #fff) no-repeat;
  background-size: 0% 1px;
  background-position: bottom;
  transition: background-size 0.3s ease, opacity 0.3s ease;

  &:hover {
    background-size: 100% 1px;
    opacity: 0.7;
  }

  @media (max-width: 1700px) {
    font-size: 23px;
    line-height: 28px;
  }

  @media (max-width: 960px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: 520px) {
    font-size: 13px;
    line-height: 16px;
  }
} 
