.info__title_width_one {
  max-width: 373px;

  @media (max-width: 1780px) {
    max-width: 249px;
  }

  @media (max-width: 1200px) {
    max-width: 199px;
  }

  @media (max-width: 1060px) {
    max-width: 381px;
  }
}

