.info__title_width_two {
  max-width: 316px;

  @media (max-width: 1780px) {
    max-width: 211px;
  }

  @media (max-width: 1200px) {
    max-width: 169px;
  }

  @media (max-width: 1060px) {
    max-width: 260px;
  }
}