.info__title_width_two {
  max-width: 436px;

  @media (max-width: 1780px) {
    max-width: 296px;
  }

  @media (max-width: 1200px) {
    max-width: 234px;
  }

  @media (max-width: 1060px) {
    max-width: 260px;
  }
}
