.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 98px 0 38px;

  @media (max-width: 1780px) {
    padding-block: 87px 25px;
  }

  @media (max-width: 1200px) {
    padding-block: 67px 33px;
  }

  @media (max-width: 1060px) {
    flex-direction: column;
    row-gap: 33px;
    padding-block: 44px 29px;
  }

  @media (max-width: 520px) {
    row-gap: 30px;
    padding-block: 26px 30px;
  }
}