.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 55px;

  @media (max-width: 1700px) {
    row-gap: 43px;
  }

  @media (max-width: 1200px) {
    row-gap: 38px;
  }

  @media (max-width: 960px) {
    row-gap: 27px;
  }

  @media (max-width: 520px) {
    row-gap: 30px;
  }
}
