.info__line {
  max-width: 141px;
  margin-bottom: 27px;
  border: 1px solid #fff;

  @media (max-width: 1780px) {
    margin-bottom: 14px;
  }

  @media (max-width: 1200px) {
    margin-bottom: 9px;
  }

  @media (max-width: 1060px) {
    display: none;
  }
}
