.info__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;

  @media (max-width: 1780px) {
    font-size: 14px;
    line-height: 17px;
  }
}

