@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Montserrat.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/page/__content404/page__content404.css);
@import url(../blocks/page/__footer/page__footer.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content404/content404.css);
@import url(../blocks/content404/__title/content404__title.css);
@import url(../blocks/content404/__description/content404__description.css);
@import url(../blocks/content404/__link/content404__link.css);

@import url(../blocks/player/player.css);
@import url(../blocks/player/__buttonPlayPause/player__buttonPlayPause.css);
@import url(../blocks/player/__select/player__select.css);
@import url(../blocks/player/__icon-eq/player__icon-eq.css);
@import url(../blocks/player/__line/player__line.css);
@import url(../blocks/player/__dropdown/player__dropdown.css);
@import url(../blocks/player/__controls/player__controls.css);
@import url(../blocks/player/__label/player__label.css);
@import url(../blocks/player/__checkbox-timer/player__checkbox-timer.css);
@import url(../blocks/player/__checkmark/player__checkmark.css);
@import url(../blocks/player/__timerText/player__timerText.css);
@import url(../blocks/player/__timer/player__timer.css);
@import url(../blocks/player/__volumeOnOff/player__volumeOnOff.css);
@import url(../blocks/player/__volume/player__volume.css);

@import url(../blocks/info/info.css);
@import url(../blocks/info/__title/info__title.css);
@import url(../blocks/info/__title/_width/info__title_width_one.css);
@import url(../blocks/info/__title/_width/info__title_width_two.css);
@import url(../blocks/info/__title/_width/info__title_width_three.css);
@import url(../blocks/info/__line/info__line.css);
@import url(../blocks/info/__text/info__text.css);
@import url(../blocks/info/__text/_width/info__text_width_one.css);
@import url(../blocks/info/__text/_width/info__text_width_two.css);
@import url(../blocks/info/__text/_width/info__text_width_three.css);
@import url(../blocks/info/__subtitle/info__subtitle.css);
@import url(../blocks/info/__list/info__list.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__cookie/footer__cookie.css);
@import url(../blocks/donations/donations.css);
@import url(../blocks/donations/__info/donations__info.css);
@import url(../blocks/donations/__card/donations__card.css);
@import url(../blocks/donations/__icon-copy/donations__icon-copy.css);
@import url(../blocks/donations/__text/donations__text.css);
@import url(../blocks/donations/__description/donations__description.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__email/contacts__email.css);
@import url(../blocks/contacts/__icon-email/contacts__icon-email.css);
@import url(../blocks/contacts/__link/contacts__link.css);
@import url(../blocks/contacts/__social/contacts__social.css);
@import url(../blocks/contacts/__social-img/contacts__social-img.css);

