.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 145px 39px;
  background-color: rgba(0, 0, 0, 0.4);

  &::before {
    content: "";
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 48px;
  }

  @media (max-width: 1700px) {
    padding: 30px 77px 40px;

    &::before {
      bottom: 30px;
    }
  }

  @media (max-width: 1200px) {
    padding: 24px 64px 33px;

    &::before {
      bottom: 24px;
    }
  }

  @media (max-width: 960px) {
    flex-direction: column;
    padding: 29px 48px 40px;

    &::before {
      bottom: 29px;
    }
  }

  @media (max-width: 520px) {
    padding: 22px 28px 31px;

    &::before {
      bottom: 22px;
    }
  }
}
