.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 145px 39px;
  background-color: rgba(0, 0, 0, 0.4);

  &::before {
    content: "";
    width: 100%;
    height: 2px;
    margin-bottom: 40px;
    background-color: #fff;
    order: -1;
  }

  @media (max-width: 1700px) {
    padding: 0 77px 40px;

    &::before {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 1200px) {
    padding: 0 64px 33px;

    &::before {
      margin-bottom: 24px;
    }
  }

  @media (max-width: 960px) {
    flex-direction: column;
    padding: 0 48px 40px;

    &::before {
      margin-bottom: 29px;
    }
  }

  @media (max-width: 520px) {
    padding: 0 28px 31px;

    &::before {
      margin-bottom: 22px;
    }
  }
}
