.player__select {
  display: flex;
  min-width: 646px;
  height: 73px;
  border-radius: 50px;
  background-color: #fff;

  @media (max-width: 1700px) {
    min-width: 467px;
    height: 52px;
  }

  @media (max-width: 1200px) {
    min-width: 390px;
    height: 44px;
  }

  @media (max-width: 520px) {
    min-width: 261px;
    height: 40px;
  }
}