.player__checkmark {
  display: inline-block;
  width: 55px;
  height: 29px;
  margin-right: 30px;
  background: url('../../../images/tumb-off.svg') no-repeat center;
  background-size: cover;
  cursor: pointer;
  transition: 0.3s;

  .player__checkbox-timer:checked + & {
    background-image: url('../../../images/tumb-on.svg');
  }

  @media (max-width: 1700px) {
    width: 36px;
    height: 19px;
    margin-right: 22px;
  }

  @media (max-width: 1200px) {
    width: 31px;
    height: 16px;
    margin-right: 18px;
  }

  @media (max-width: 960px) {
    width: 33px;
    height: 17px;
  }

  @media (max-width: 520px) {
    width: 30px;
    height: 16px;
    margin-right: 12px;
  }
}


