.player__dropdown {
  width: 100%;
  border: none;
  padding: 10px 75px 10px 0px;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-align-last: center;
  color: #000;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../../../images/arr-down.svg") no-repeat right 44px center;
  background-size: 20px;
  transform: scale(1);
  transition: transform 0.3s ease;

  &:focus {
    outline: none;
    transform: scale(1.03);
  }

  @media (max-width: 1700px) {
    padding: 15px 32px 18px 0px;
    font-size: 16px;
    line-height: 20px;
    background-size: 18px;
    background-position: right 32px center;
  }

  @media (max-width: 1200px) {
    padding: 11px 24px 14px 0px;
    font-size: 15px;
    line-height: 18px;
    background-position: right 22px center;
  }

  @media (max-width: 960px) {
    background-size: 14px;
    background-position: right 26px center;
  }

  @media (max-width: 520px) {
    padding: 12px 23px 13px 0px;
    font-size: 12px;
    line-height: 15px;
  }
}
