.page__footer {
  padding: 0 145px;

  @media (max-width: 1700px) {
    padding: 0 77px;
  }

  @media (max-width: 1200px) {
    padding: 0 64px;
  }

  @media (max-width: 960px) {
    padding: 0 48px;
  }

  @media (max-width: 520px) {
    padding: 0 28px;
  }
}
